.maplibregl-ctrl-group {
    transition: all 0.2s ease-in-out;
}

.maplibregl-ctrl.layer-factory-container {
    background-color: transparent;
    border: none;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.maplibregl-ctrl-group.layer-factory-panel {
    display: none;
    gap: 8px;
    margin: 0;
    max-height: 200px;
    overflow-y: auto;
    padding: 4px;
    width: auto;
}

.maplibregl-ctrl-group button.layer-factory-panel-button {
    align-items: center;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    font-size: 10px;
    font-weight: bold;
    height: 42px;
    justify-content: center;
    white-space: nowrap;
    width: 42px;
}

.maplibregl-ctrl-group .layer-factory-panel-image {
    border-radius: 2px;
    display: block;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    width: 100%;
}
